.box1{
    width: 100px;
    height: 100px;
    color: aqua;
    float: left;
}

.box2{
    width: 100px;
    height: 100px;
    color: burlywood;
    float: left;
}

.box3{
    width: 100px;
    height: 150px;
    color: chartreuse;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .season {
    text-align: center;
    flex-grow: 3;
  }
  
  .season img {
    width: 20%;
    height: auto;
  }
  
  .season p {
    margin-top: 10px;
    font-weight: bold;
  }